body{
    font-family: sans-serif;
    margin: 0;
}
header{
   
    height: 150px;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    margin-right: 10px;
}

#nav{
    height: 50px;
    padding-right: 10px;
}
#nav>ul{
    list-style-type: none;
    display:flex;
    justify-content: end;
    margin-right: 40px;
    font-weight: 600;
    padding-right: 10px;
}
#nav li{
    padding:2px;
    padding-right: 10px;
    color: white;
    
}
#nav a{
    text-decoration: none;
    color:white;
    background-color: rgb(22, 6, 110);
    padding:10px;
    font-size: 1.4em;
    border-radius: 10px 10px 10px 10px;
}
#nav a:hover{
    background-color: white;
    color: rgb(37,63,202);
    border:1px solid rgb(37, 62, 202);
}

a{
    text-decoration: none;
    bottom: none;

}

.contenedor1{
    display: flex;
    justify-content: center;
}

.imagen{
    width: 350px;
    margin-left: 25px;
}

.clases {
    display: flex;
    margin-right: 40px;
    padding-right: 50px;
    gap: 100px;
    bottom: none;
}

.clases >ul {
    gap: 100px;
    bottom: none;

}

.redes  {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 100px;
}
